body {
    background-image: url(../img/bg.jpg);
    background-size: auto;
}

.main-wrapper {
    background-color: #fff;
    height: 991px;
    width: 1018px;
    margin-left: 150px;
    margin-right: 130px;
    margin-top: 38px;
}
header {
    height: 175px;
}
header>.logo {
    padding-top: 5px;
    padding-left: 25px;
}
.logo {
    width: 283px;
    height: 170px;
    float: left;
}
.logo img {
    
    height: 170px;
}
.logo-right {
    float: right;
    display: block;
}

.contacts ul {
    float: right;
    padding-right: 25px;
    opacity: 0.8;
    color: #128aa7;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 40px;
    padding-top: 10px;
}
.flag {
    clear: both;
    padding-right: 25px;
}
.flag li {
    display: inline-block;
    width: 50px;
    padding-right: 10px;
    text-align: center;
    padding-bottom: 5px;
}
.flag li:last-child {
    padding-right: 0px;    
}
.flag li a {
    color: #128aa7;
    font-family: Tahoma;
    font-size: 9px;
    font-weight: 400;
    text-decoration: underline;
}
.flag img {
    display: block;
    margin: 0px auto;
}
.foto > img {
    display: block;
    width: 1018px;
    height: 237px;
    border-bottom: 1px solid #1294b3;
    border-top: 1px solid #1294b3;
    
}
nav {
    width: 1018px;
    height: 34px;
    background-color: #333;
    vertical-align: middle;
    border-bottom: 1px solid black;
}

nav a, .menu-down a{
    color: white;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    
}

ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-left: 50px;
    vertical-align: middle;
   
}
.menu-down > ul {
   display: block;
     width: 150px;
    height: 125px;
}
.menu-down li{
    display: block;
     width: 150px;
    height: 25px;
    background-color: #333;
    padding-left: 10px;
}
.triangle-down {
    display: inline-block;
    width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid white;
    margin-left: 5px;
    
}
div > .aside {
    background-color: #edeef0;
    width: 209px;
    height: 540px;
}
div .aside p {
    color: #424c43;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.aside-left li {
    padding-left: 10px;
}
/*
.aside-right > a {
    margin-left: 10px;
} 
*/
div > .aside-left {
    float: left;
}
div > .aside-right {
    float: right;
}
footer {
    height: 30px;
    text-align: center;
}
